<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.getmoney.web.brd.ArticleMapper">
  	<insert id="insertArticle" parameterType="Article">
  		insert into article (mid, brdtype, title, content)
  		values (#{mid}, #{brdtype}, #{title}, #{content})
  	</insert>
  	<select id="readArticle" resultType="Article">
        select * 
        from article 
        where mid like #{mid} 
    </select>
    <select id="countArticle" resultType="string">
    	select count(*)
		from article
    </select>
      <select id="selectAll" resultType="Article" parameterType="Proxy">
       	SELECT A.BRDTYPE AS brdType, A.*
   		FROM
   		(SELECT * 
   		FROM ARTICLE 
   		ORDER BY ARTSEQ DESC) A
   		LIMIT ${startRow}, ${pageSize}
    </select>
    <select id="selectMypage" resultType="Article">
    	select *
		from article
		where mid like #{mid}
    </select>
    <update id="updateArticle" parameterType="Article">
    	update article
		set title = #{title}, content = #{content}
		where artseq = #{artseq}
    </update>
    <delete id="deleteArticle" parameterType="Article">
    	delete from article
		where artseq = #{artseq}
    </delete>
  </mapper>